.cards > img {
    width: 350px;
    height: 180px;
    border-radius: 10px;
}
.cards{
    margin: 15px;
    width: 350px;
    height: 250px;
}
.size{
    display: flex;
}
.cards > h4{
    display: flex;
    justify-content: center;
    color: white;
}
a {
    text-decoration: none !important;
}