.footer{
    background-color: #00697F;
    color: white;
    text-align: center;
    padding: 1px 0 4px 0;
    width: 100%;
    
}

.footer-icon :hover{
    color: red;
    cursor: pointer;
}